.root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgb(20 30 48);
  background: linear-gradient(180deg, rgb(20 30 48 / 100%) 0%, rgb(36 59 85 / 100%) 100%);
}

.content {
  padding: 15px;
  flex-grow: 1;
}

:global {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(hsl(214deg 47% 23%), hsl(237deg 49% 15%));
  }

  code {
    font-family:
      source-code-pro,
      Menlo,
      Monaco,
      Consolas,
      "Courier New",
      monospace;
  }
}
